.navTitle {
    font-size: 1rem;
    font-weight: 700;
}

.navbar {
    border-bottom: 2px solid #000;
    background-color: white;
}
footer small {
    font-weight: bold;
    color: rgba(0,0,0,.5);
}
.navbar-brand br {
    display: none;
}

.nav-link {
    font-weight: 700;
}

#social {
    margin-bottom: 10px;
}

#social i {
    font-size: 2rem;
}

#social i:hover {
    opacity: 0.8;
}

#social a:nth-of-type(n+2) {
    margin-left: 10px;
}

.fa-twitter {
    color: #00acee;
}

.fa-youtube {
    color: #c4302b;
}

.fa-github {
    color: black;
}

@media (min-width: 992px) {
    .layout {
        display: flex;
    }

    .navbar {
        padding: 1.5rem;
        width: 264px;
        height: 100vh;
        overflow-y: scroll;
        flex-direction: column;
        align-items: flex-start;
        border: none;
    }

    .navbar-brand br {
        display: block;
    }

    hr {
        border-top: 1px solid #000;
    }

    main {
        width: calc(100vw - 264px);
    }
    .container {
        max-width: calc(720px - 264px);
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: calc(1140px - 264px);
    }
}

h1, h2, h3, h4, h5 {
    margin-block-start: 0.67em;
    font-weight: bold;
}