<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>さくら組 | {{ page.title }}</title>
    <link rel="stylesheet" href="assets/themes/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/default.css">
    {% if page.style %}
    <link rel="stylesheet" href="assets/css/{{ page.style }}.css">
    {% endif %}
</head>
<body>
    <div class="layout">
        <nav class="navbar navbar-expand-lg navbar-light sticky-top">
            <a class="navbar-brand" href="/">
                <img
                    src="https://github.com/sakuraJunior/new_homepage/raw/master/assets/img/sakuragumiTitle.svg?sanitize=true">
                <div class="navTitle">
                    FLLチームさくら組
                    <br>
                    ホームページ
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
                <hr>
                <ul class="navbar-nav d-lg-block">
                    {% for item in site.data.navigation %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
                <ul class="navbar-nav d-lg-block">
                    {% for item in site.data.externalLink %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ item.link }}" target="_blank">{{ item.name }}
                                <i class="fas fa-external-link-alt"></i></a>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
                <footer>
                    <div id="social">
                        <a href="https://www.youtube.com/channel/UCcaOPQsuxH0yYShGJi8RESg"  target="_blank"><i
                                class="fab fa-youtube"></i></a>
                        <a href="https://twitter.com/fll_sakuragumi" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://github.com/sakurajunior" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                    <small>Copyright © 2020 さくら組</small>
                </footer>
            </div>
        </nav>
        <main>
            <div class="container">
                {{ content }}
            </div>
        </main>
    </div>
    <script src="assets/themes/js/jquery-3.4.1.min.js"></script>
    <script src="assets/themes/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/3d3df0e672.js" crossorigin="anonymous"></script>
    <script src="assets/js/default.js"></script>
    {% if page.script %}
    <script src="assets/js/{{ page.script }}.js"></script>
    {% endif %}
</body>
</html>